/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {margin: 1vh; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: rgba(84, 131, 145, 0.637);}

.mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align{
  display: none!important;
}
